body, html {
   background: #3f012c !important;
   padding-top: 5px;
   font: 1rem Inconsolata, monospace;
   color: white;
}

div#my-textarea {
    outline: none;
    color: white;
    caret-color: orange;
}

a {
    color: #5fd75f;
}

td {
    vertical-align: top;
    padding: 2px;
}

td:nth-child(1){
    color: #ffd700;
}

span.title {
    color: 	#5f87ff;
    font-size: 2rem;
}

