<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Tracy Medcalf</title>

    <!-- Bootstrap core CSS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link href="stylesheet/bootstrap.min.css" rel="stylesheet"> -->
    <link href="stylesheet/resume.css" rel="stylesheet">

	<script src="/plugins/jQuery-Plugin-To-Simulate-Terminal-Text-Effects-t-js/t.min.js"></script>
  </head>

  <body>
      <!--<div id='my-textarea' class='column' contenteditable>-->
      {{ content }}

      <script src="resume.js"></script>
  </body>

</html>
